<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    
    
    <title>EC | Recipes</title>
</head>
<body>
 <img src="Background.jpg" alt="Recipe" width= "128" height="auto">
 

        <ul class="list-group">
            <h1>Categories</h1>
            <a href="/Pescatarian"><li class="list-group-item">Pascatarian</li></a>
            <a href="/Vegan"><li class="list-group-item">Vegan</li></a>
            <a href="/Vegetarian"><li class="list-group-item">Vegetarian</li></a>
            <a href="/Ketogenic"><li class="list-group-item">Ketogenic</li></a>
            <a href="/Low-Sodium"><li class="list-group-item">Low-Sodium</li></a>
        </ul>

      
          <h1>EC Menu</h1>
          
        <img src="" alt="">
           
        <h3><%= recipeTitle %></h3>

        

                

</body>
</html>
